<!DOCTYPE html>
<html>
    <head>
        <!-- Down the lines I plan to make the site mobile friendly so this will help -->
        <meta name="viewport" content="width=device-width">
        <title>ChatIO | Chat Room</title>
        <link rel="stylesheet" href="/assets/css/chat.css" type="text/css">
        <link rel="shortcut icon" href="/assets/favicon.ico">
    </head>
    <body>
        <nav>
            <div id="settings">
                <h1 id="user"><%= data.username %></h1>
                <img src="/assets/img/settings.png" alt="Settings">
            </div>

            <h2>Channels</h2>

            <ul id="channels">
                <% for(var i=0; i<channels.length; i++) {%>
                    <li><%= channels[i] %></li>
                <% } %>
            </ul>

            <h2>Users</h2>

            <ul id="users">
                <li class="active"><span>Devon</span></li>
                <li><span>John</span></li>
                <li class="active"><span>Bob</span></li>
            </ul>
        </nav>

        <div id="chatRoom">
            <ul id="chats">
                <div class="identify" style="background: #2EC4B6; float: right">D</div>
                <h1 class="me" style="background: #2EC4B6">Hello World!!</h1>

                <div class="identify" style="background: #49C6E5; float: left">B</div>
                <h1 style="background: #49C6E5">Hello!!</h1>
            </ul>
        </div>

        <form id="sendMessage" method="post">
            <input type="text" name="message" placeholder="Say Something...">

            <button type="submit" name="sendMessage">Send</button>
        </form>

        <!-- We use Jquery and the welcome.js to send GET and POST requests -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="/assets/js/chat.js"></script>
    </body>
</html>
