<!DOCTYPE html>
<html>
    <head>
        <!-- Down the lines I plan to make the site mobile friendly so this will help -->
        <meta name="viewport" content="width=device-width">
        <title>ChatIO | Welcome</title>
        <link rel="stylesheet" href="/assets/welcome.css" type="text/css">
        <link rel="shortcut icon" href="/assets/favicon.ico">
    </head>
    <body>
        <header>
            <div class="wrapper">
                <a id="home">
                    <img src="/assets/logo.png" alt="Chat IO">
                </a>

                <nav>
                    <ul id="menu">
                        <li class="current"><a href="#home">Home</a></li>
                        <li><a href="#signIn">Sign In</a></li>
                        <li><a href="#signUp">Sign Up</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <div id="hero">
            <h1>Chat I/O</h1>
            <img src="/assets/hero.png" alt="Hero">
            <h3>Your perfect simple chatting app</h3>
        </div>

        <div class="wrapper">
            <a id="signIn"></a>
            <h1>Sign In</h1>

            <form id="signIn" class="form" action="/signIn" method="post">
                <input type="text" name="username" placeholder="Username">
                <input type="password" name="password" placeholder="Password">

                <button type="submit" name="signIn">Sign In</button>
            </form>

            <a id="signUp"></a>
            <h1>Sign Up</h1>

            <form id="signUp" class="form" action="/signUp" method="post">
                <input type="text" name="username" placeholder="Username">
                <input type="password" name="password" placeholder="Password">

                <button type="submit" name="signUp">Sign Up</button>
            </form>
        </div>

        <footer>
            <div class="wrapper">
                <ul id="footerMenu">
                    <li><a href="#home">Home</a></li>
                    <li><a href="#signIn">Sign In</a></li>
                    <li><a href="#signUp">Sign Up</a></li>
                </ul>
            </div>
        </footer>

        <!-- We use Jquery and the welcome.js to send GET and POST requests -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="/assets/welcome.js"></script>
    </body>
</html>
