<!DOCTYPE html>
<html>
    <head>
        <!-- Down the lines I plan to make the site mobile friendly so this will help -->
        <meta name="viewport" content="width=device-width">
        <title>ChatIO | Welcome</title>
        <link rel="stylesheet" href="/assets/welcome.css" type="text/css">
    </head>
    <body>

        <!-- We use Jquery and the welcome.js to send GET and POST requests -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="/assets/welcome.js"></script>
    </body>
</html>
