body{
    font-family: tahoma;
    color: #FFF;
    margin: 0;
    padding: 0;
    background: #2ec4b6;
    overflow: hidden;
}

nav{
    background: #26547C;
    position: fixed;
    position: absolute;
    top: 0px;
    bottom: 0;
    right: 85%;
    left: 0;
}

#settings{
    padding: 15px;
    cursor: pointer;
}

#user{
    display: inline;
    background: #18BC9C;
    padding: 10px;
    margin: 0;
    font-size: 15px;
    font-weight: normal;
    border-radius: 10px;
}

nav img{
    display: inline;
    width: 40px;
    margin-left: 10px;
}

nav h2{
    text-align: center;
}

nav ul li{
    margin: 5px 10px;
    list-style-type: none;
}


nav ul li.active{
    color: #18BC9C;
    list-style-type: disc;
}

nav ul li span{
    color: white;
}

nav ul li span:hover{
    color: #18BC9C;
    cursor: pointer;
}

nav ul li:hover{
    color: #18BC9C;
    cursor: pointer;
}

nav ul{
    padding: 0 40px;
}

#channels li{

}

#chatRoom {
    position: fixed;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 50px;
    left: 15%;
    background: #002834;
    overflow-y: auto;
}

#chatRoom::-webkit-scrollbar {
    display: none;
}

#chats{
    padding: 0px;
}

#sendMessage{
    width: 100%;
    height: 50px;
    position: fixed;
    position: absolute;
    bottom: 0px;
}

#sendMessage input{
    position: fixed;
    position: absolute;
    margin: 0;
    width: 75%;
    background:#181c22;
    font-size: 25px;
    padding: 2px;
    color: #989898;
    border: 0;
    height: 50px;
    left: 15%;
}

#sendMessage button{
    position: fixed;
    position: absolute;
    width: 10%;
    background: #2ec4b6;
    border: 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    height: 50px;
    bottom: 0px;
    right: 0;
}

h1{
    display: inline;
    clear: both;
    float: left;
    padding: 10px;
    margin: 15px;
    font-size: 15px;
    font-weight: normal;
    border-radius: 10px;
}

.identify{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding: 5px;

    font-size: 25px;
    font-weight: bold;

    text-align: center;
    margin: 5px;
    display: inline;
}

h1.me{
    float: right;
}
